dist: trusty
sudo: false
language: csharp
mono: none
dotnet: 2.1.400
install:
  - dotnet build './PhurmanAndTheBoiz/'
  - nvm install 10.13.0
  - nvm use 10.13.0
  - npm install
script:
  - dotnet test './PhurmanAndTheBoiz/'
  - cd './React App/';npm test
after_success:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL
  - echo dotnet test and npm test succeeded
after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL
  - echo dotnet test or npm test failed
