dist: trusty
sudo: false
language: csharp
mono: none
dotnet: 2.1.300
install:
  - dotnet restore
  - nvm install 10.13.0
  - nvm use 10.13.0
  - npm install
script:
  - dotnet test
  - npm test
after_success:
  - echo dotnet test and npm test succeeded
after_failure:
  - echo dotnet test or npm test failed
