language: csharp
solution: ./PhurmanAndTheBoiz/PhurmanAndTheBoiz.sln
sudo: enabled
install:
  - sudo apt-get install -y gtk-sharp2
script:
  - xbuild /p:Configuration=Release ./PhurmanAndTheBoiz/PhurmanAndTheBoiz.sln
matrix:
  include:
    - dotnet: 2.1.300
      mono: none
      env: DOTNETCORE=2 # optional, can be used to take different code paths in your script
    - mono: latest
