{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    [
      "@babel/preset-react",
      {
        
        "throwIfNamespace": false
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [["@babel/plugin-proposal-class-properties", { "loose": true }]],
  "env":{
    "test":{
      "presets":["env"]
    }
  }
}
