html,
body {
  background-color: #d3d4d8;
}
 @media (min-width: 2000px) {
  .collapse {
    display: block;
  }

  .navbar-header {
    float: left;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-nav {
    float: right;
    margin: 0;
  }
  .navbar-nav li {
    float: right;
  }
  .navbar-nav li a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
        
        @media (max-width: 2000px) {
          .collapse {
            display: none;
          }
        
          .navbar-header {
            display: block;
          }
        }
        h1 {
          padding: 15px;
          border: 5px groove #50535b;
          background-color:#cc2c1e;
          box-shadow: 5px 8px;
        }
        .bod {
          padding-top: 50px;
          width: 100%;
          height: 100%;
          text-align: center;
        }
        
        footer {
          position: absolute;
          left: 0;
          bottom: 0;
          top: 100%;
        }
.navbar-inverse {
  background-color: #101411;
  border-color: #50535b;
  background-image: none;
}

.navbar-inverse .navbar-nav li {
  color: #d3d4d8;
  background-image: none;
}
.navbar-inverse .navbar-nav li:hover,
.navbar-inverse .navbar-nav li:focus {
  color: #dadbdf;
  background-image: none;
}
.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-nav .active a:focus {
  color: #dadbdf;
  background-color: #50535b;
  background-image: none;
}

