@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

.messages-container{
    overflow-y: scroll;
    height: 100px;
    width: 200px;
}

.message {
    padding: 3px;
    background: grey;
    margin-bottom: 3px;
}