@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .bod {
        padding-top: 50px;
        margin-top: 30%;
        width: 100%;
        height: 100%;
    }
    .footer {
        display: fixed;
        bottom:0;     
    }
}

.messages-container{
    overflow-y: scroll;
    height: 100px;
    width: 200px;
}

.message {
    padding: 3px;
    background: grey;
    margin-bottom: 3px;
}